.bg {
  background-color: #f3f4f6; /* light gray */
}

.bd {
 background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  width: fit-content;
}
