 .bgg {
  background-image: linear-gradient(rgba(104, 169, 240, 0.555), rgba(85, 152, 170, 0.7)),
    url('../assets/images/bg.png');
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;

  padding: 80px 20px;
  color: white;
}